body{
    margin: 0;
}

#badge{
    position: absolute;
    background-color: rgb(109, 116, 104);
    color: rgb(223, 217, 217);
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    top: 10px;
    right: 15px;
}
#container{
   /* background-color: rgb(132, 77, 77); */
   /* color: white; */
    margin: auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    position: relative;
    box-shadow: none;
}
#shopName{
    font-size: 40px;
}
#shopName a{
    text-decoration: none;
    color: rgb(238, 233, 233);
}
#shopName > b {
    font-weight: 900;
    font: black;
}
#collection{
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#collection a{
    text-decoration: none;
    color: rgb(228, 222, 222);
}
.search{
    padding: 14px;
    color: rgb(213, 215, 211);
    min-width: 25px;
    position: absolute;
    text-align: center;
}
.addedToCart{
    font-size: 1.5em;
    margin-right: 25px;
}
#user{
    display: flex;
    align-items: center;

}
.userIcon{
    font-size: 45px;
}
#input{
    width: 35em;
    height: 3em;
    padding: 2p 50px;
    background-color: rgba(82, 94, 4, 0.399);
    border: none;
    border-radius: 5px;
}
#input::placeholder {
    font-weight: bold;
}
#input:focus{
    outline: none;
}
#user a{
    color: rgb(20, 19, 19);
}

/*-media query-*/

@media (max-width: 1300px) {
    #collection{
        font-size: 13px;
    }
    #input{
        width: 25em;
    }
}
@media (max-width: 1212px){
    #collection{
        font-size: 13px;
    }
    #input{
        width: 20em;
    }
    .addedToCart{
        font-size: 1.5em;
        margin: 10px 20px;
    }
}
@media(max-width: 1090px){
    #container{
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr;
    }
    #search{
        display: none;
    }
}
@media(max-width: 750px){
    #shopName{
        font-size: 28px;
    }
    #collection{
        font-size: 12px;
    }
    .userIcon{
        font-size: 35px;
    }
    .addedToCart{
        font-size: 1.2em;
        margin: 10px 20px;
    }
}
@media(max-width: 650px){
    #shopName{
        font-size: 24px;
    }
    #collection{
        font-size: 10px;
    }
    .userIcon{
        font-size: 30px;
    }
}
@media(max-width: 550px){
    #container{
        padding: 20px 25px;
    }
}

/*badge media*/

@media(max-width: 1480px){
    #badge{
        right: 150px;
    }
}
@media(max-width: 1426px){
    #badge{
        right: 142px;
    }
}
@media(max-width: 1360px){
    #badge{
        right: 136px;
    }
}
@media(max-width: 1320px){
    #badge{
        right: 129px;
    }
}
@media(max-width: 1259px){
    #badge{
        right: 119px;
    }
}
@media(max-width: 1212px){
    #badge{
        right: 96px;
    }
}
@media(max-width: 1155px){
    #badge{
        right: 87px;
    }
}
@media(max-width: 1090px){
    #badge{
        right: 119px;
    }
}
@media(max-width: 1030px){
    #badge{
        right: 109px;
    }
}
@media(max-width: 970px){
    #badge{
        right: 100px;
    }
}
@media(max-width: 910px){
    #badge{
        right: 94px;
    }
}
@media(max-width: 850px){
    #badge{
        right: 87px;
    }
}
@media(max-width: 750px){
    #badge{
        right: 87px;
        padding: 3px 6px;
        font-size: 12px;
        top: 12px;
    }
}
@media(max-width: 650px){
    #badge{
        right: 78px;
    }
}
@media(max-width: 550px){
    #badge{
        right: 62px;
        top: 18px;
    }
}