/* Enable smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
}



.video-background-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    /* This transition helps when the user hovers over the container itself,
       but typically the hover is applied to an inner element */
}

#background-video {
    position: fixed; /* Fixed position so it stays in the background while scrolling */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Puts the video behind other content */
    object-fit: cover; /* Ensures video covers the entire area without distortion */
    transition: all 0.5s ease-in-out; /* Smooth transition for any changes (e.g., opacity, scale) */
}

/* Add an overlay to ensure content is readable and to enable transition effects */
.video-background-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
    z-index: -1;
    transition: background-color 0.5s ease-in-out;
}

.content-overlay {
    position: relative;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding-top: 50vh; /* Adjust as needed */
}

.content-overlay a {
  text-decoration: none;
  color: rgb(99, 99, 156);
  font-size: larger;
}

/* To simulate scrolling */
.scrollable-content {
  min-height: 41vh;
    height: auto; /* Make content long enough to scroll */
    position: relative;
    z-index: 2; /* Ensure this content is above the fixed video */
}

@media (max-width: 768px) {
  .video-background-container{
    width: 100vw;
  }
  .video-background-container video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}