/* Enable smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
}

body {
  background-color: black;
}


.video-background-container {
  height: fit-content;
    overflow: hidden;
}

#bg-video{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content-overlay {
    position: relative;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding-top: 40vh; /* Adjust as needed */
}

.content-overlay a {
  text-decoration: none;
  color: rgb(170, 245, 7);
  font-size: larger;
}

/* To simulate scrolling */
.scrollable-content {
  min-height: 41vh;
    height: auto; /* Make content long enough to scroll */
    position: relative;
    z-index: 2; /* Ensure this content is above the fixed video */
}

@media (max-width: 768px) {
  .video-background-container{
    width: 100vw;
  }
  .video-background-container video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}